body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h6{
  display: inline-block;
}
#bg-container{
  min-height: 100vh;
  background-size: cover;
  padding: 5vh;
}

.BG1{
  background: url(media/01.jpg) center center no-repeat;
  transition: background-image 1000ms linear;
}
.BG2{
  background: url(media/02.jpg) center center no-repeat;
  transition: background-image 1000ms linear;
}
.BG3{
  background: url(media/03.jpg) center center no-repeat;
  transition: background-image 1000ms linear;
}
.BG4{
  background: url(media/04.jpg) center center no-repeat;
  transition: background-image 1000ms linear;
}
.BG5{
  background: url(media/05.jpg) center center no-repeat;
  transition: background-image 1000ms linear;
}
.BG6{
  background: url(media/06.jpeg) center center no-repeat;
  transition: background-image 1000ms linear;
}
.BG7{
  background: url(media/07.jpg) center center no-repeat;
  transition: background-image 1000ms linear;
}

#data-container-bg{
  height: 90vh;
  width: 75%;
  padding-top: 5vh;
  overflow: auto;
}
.container-bg1{
  background-color: #ffffffc9;
  transition: background-color 1000ms linear;
  color:#795e27;
  transition: color 1000ms linear;
}
.container-bg2{
  background-color: #ffffffc2;
  transition: background-color 1000ms linear;;
  color:#1b1b1b;
  transition: color 1000ms linear;
}
.container-bg3{
  background-color: #8c8c8c40;
  transition: background-color 1000ms linear;
    color: #ffffff;
    transition: color 1000ms linear;
}
.container-bg4{
  background-color: #ffffff1c;
  transition: background-color 1000ms linear;
    color: #ffffff;
    transition: color 1000ms linear;
}
.container-bg5{
  background-color: #ffffffa8;
  transition: background-color 1000ms linear;
  color:#1b1b1b;
  transition: color 1000ms linear;
}
.container-bg6{
  background-color: #79743b47;
  transition: background-color 1000ms linear;
  color: #ffffff;
  transition: color 1000ms linear;
}
.container-bg7{
  background-color: #ffffffa8;
  transition: background-color 1000ms linear;
  color:#1b1b1b;
  transition: color 1000ms linear;
}

.description{
  border: solid thin;
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.col-6{
  flex: 0 0 47%;
  max-width: 46%;
}
.row{
  margin-right:0px;
   margin-left:0px;
}